---
import Layout from "@/layouts/Layout.astro";
import SectionContainer from "@/components/SectionContainer.astro";
import { Image } from "@astrojs/image/components";
import projectData from "@/data/projectData.json";
import CardGroup from "@/components/card/CardGroup.astro";
import Card from "@/components/card/Card.astro";
import CardBody from "@/components/card/CardBody.astro";
import CardImage from "@/components/card/CardImage.astro";
import CardHeader from "@/components/card/CardHeader.astro";
import FormattedDate from "../../src/components/FormattedDate.astro";
import { getCollection } from "astro:content";
import { Icon } from "astro-icon";
import getSortedTags from "@/utils/getSortedTags";

const posts = await getCollection("project");

const tags = getSortedTags(posts).slice(0, 6);
const sortedPosts = posts
    .filter((post) => post.data.featured == true)
    .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
    .slice(0, 5);
---

<Layout
    title="Patrick Bower"
    description="Crafting exceptional digital experiences as a practitioner and leader of design within product teams with extensive expertise in UX, UI, and prototyping."
>
    <div
        class="main-wrapper wrap-sm grid gap-16 px-8 md:gap-24 lg:gap-32 mx-auto"
    >
        <SectionContainer class="hero--container flex flex-col gap-8 mt-8">
            <div class="content-container pb-0">
                <div
                    class="page-title--content max-w-[54rem] mb-8 lg:mb-4 border-b-2 border-neutral-200"
                >
                    <h1
                        class="font-medium text-h4 mb-8 leading-8 tracking-tighter"
                    >
                        Patrick Bower
                    </h1>
                </div>
                <p
                    class="content font-medium text-3xl md:text-4xl leading-8 lg:leading-10 tracking-tight lg:tracking-tighter text-neutral-500 pt-4"
                >
                    A senior product designer who codes, crafting exceptional
                    end-to-end digital experiences.
                </p>

                <p
                    class="content font-medium text-1xl md:text-2xl text-neutral-400 tracking-tight lg:tracking-tighter"
                >
                    Practitioner and leader of design within product teams with
                    extensive expertise in UX, UI and prototyping.
                </p>
            </div>
        </SectionContainer>
        
        <!--  Projects Container -->
        <SectionContainer class="blogs--container">
            <div class="flex flex-row my-4 items-center text-neutral-500">
                <h2 class="font-medium text-h4 mb-0 leading-8 tracking-tighter">
                    Projects
                </h2>
                <a
                    href="/project"
                    class="font-medium flex no-underline ml-auto"
                >
                    View all projects
                    <Icon name="ph:arrow-right-light" class="w-6 h-6 ml-4" />
                </a>
            </div>

            <CardGroup
                class="grid scroll-m-24 gap-5 grid-cols-1 md:grid-cols-2 w-full"
            >
                {
                    sortedPosts.map((post) => (
                        <Card
                            key={post.id}
                            className="col-span-1"
                            link={`/project/${post.slug}`}
                            type="image"
                            bgImage={post.data.imageBg}
                        >
                            <CardBody>
                                <CardImage
                                    src={post.data.logo}
                                    alt="Alternative text for photo"
                                    imageClass="absolute bottom-0 left-0 m-6 rounded-3xl"
                                    width={100}
                                    height={100}
                                />
                                <div class="card-content absolute top-8 left-6 right-6">
                                    <CardHeader class="">
                                        {post.data.title}
                                    </CardHeader>
                                    <div class="content break-words  text-3xl font-medium leading-10 tracking-tight lg:tracking-tighter text-neutral-500 ">
                                        <p>{post.data.description}</p>
                                    </div>
                                </div>
                            </CardBody>
                        </Card>
                    ))
                }
            </CardGroup>
        </SectionContainer>

        <!-- Side Projects -->
         <SectionContainer>
            <div class="flex flex-row my-4 items-center text-neutral-500">
                <h2 class="font-medium text-h4 mb-0 leading-8 tracking-tighter">
                    Recent Side Project
                </h2>
            </div>
            <div class="flex flex-col gap-1">
                <a
                    href="https://auto-q.netlify.app/"
                    target="_blank"
                    rel="noopener noreferrer"
                    class="w-full card-clip no-underline sm:flex-row sm:gap-8 bg-neutral-50 rounded-[40px] transition-all duration-300 hover:-top-0.5 relative flex flex-col gap-1 overflow-hidden"
                >
                    <div class="flex gap-8">
                        <div class="w-full p-8">
                            <p class="text-body mb-2 text-neutral-900">
                                AutoQ
                            </p>
                            <p class="text-neutral-500">
                                A side project exploring the Web Speech API and its ability to aid
                                public speaking through auto-cue web app.
                            </p>
                        </div>

                        <Image
                            src="./images/tiles/autoq-bg.png"
                            width={200}
                            height={200}
                            alt="something"
                            loading="lazy"
                            format="webp"
                            class="object-cover hidden md:block"
                        />
                    </div>
                </a>
            </div>
        </SectionContainer>

        <!-- Blog Container -->
        <!-- <SectionContainer class="tags--container">
            <div class="flex flex-row my-4 items-center text-neutral-500">
                <h2
                    class="font-medium text-h4 text-neutral-500 leading-8 tracking-tighter mb-0"
                >
                    Top Tags
                </h2>

                <a href="/tags" class="font-medium flex no-underline ml-auto">
                    View all tags
                    <Icon name="ph:arrow-right-light" class="w-6 h-6 ml-4" />
                </a>
            </div>

            <ul class="list-none space-y-5">
                {
                    tags.map((tag) => (
                        <li class={`inline-block my-3 mx-1 underline-offset-8`}>
                            <a
                                href={`/tags/${tag.toLowerCase()}`}
                                class={`text-lg pr-2 flex flex-wrap items-center relative underline hover:-top-0.5 hover:text-skin-accent focus-visible:p-1`}
                            >
                                <Icon name="mdi:hashtag" class="w-6 h-6" />
                                &nbsp;<span>{tag.toLowerCase()}</span>
                            </a>
                        </li>
                    ))
                }
            </ul>
        </SectionContainer> -->
        <SectionContainer>
            <div class="flex flex-row my-4 items-center text-neutral-500">
                <h2 class="font-medium text-h4 mb-0 leading-8 tracking-tighter">
                    Experience & Skills
                </h2>
            </div>
            <div
                class="text-neutral-500 grid grid-cols-1 md:grid-cols-2 gap-6 marker:text-neutral-200"
            >
                <div>
                    <h3 class="text-body mb-2 text-neutral-900">Design & UX</h3>
                    <ul class="list-disc list-outside space-y-1 pl-4">
                        <li>Over 10 years dedicated to product design.</li>
                        <li>Extensive UX methodologies.</li>
                        <li>Leading user research.</li>
                        <li>Advanced prototyping.</li>
                        <li>Conducting effective user testing.</li>
                        <li>Creating and maintaining design systems.</li>
                        <li>Understanding design technical limits.</li>
                    </ul>
                </div>

                <div>
                    <h3 class="text-body mb-2 text-neutral-900">
                        Coding & Prototyping
                    </h3>
                    <ul class="list-disc list-outside space-y-1 pl-4">
                        <li>Five years as a dedicated front-end engineer.</li>
                        <li>Thorough knowledge of JavaScript & React.</li>
                        <li>Proficient with web technology stacks.</li>
                        <li>Solid understanding of coding best practices.</li>
                        <li>Deep understanding of technical functions.</li>
                        <li>Rapid and robust code prototyping.</li>
                        <li>Understanding of technical decision-making.</li>
                    </ul>
                </div>

                <div>
                    <h3 class="text-body mb-2 text-neutral-900">
                        Leadership & Soft Skills
                    </h3>
                    <ul class="list-disc list-outside space-y-1 pl-4">
                        <li>Lead presentations and engage stakeholders.</li>
                        <li>Facilitate engaging user workshops.</li>
                        <li>Speak at conferences such as UX Brighton.</li>
                        <li>Bridge deep design & technical discussions.</li>
                        <li>Collaborate with cross-functional teams.</li>
                        <li>Lead the product process from end to end.</li>
                        <li>Mentor and manage team members.</li>
                    </ul>
                </div>

                <div>
                    <h3 class="text-body mb-2 text-neutral-900">
                        Tools & Technologies
                    </h3>
                    <ul class="list-disc list-outside space-y-1 pl-4">
                        <li>Advanced skills with Figma and Adobe.</li>
                        <li>Expertise in front-end dev with VS Code.</li>
                        <li>Maximise productivity with AI tools.</li>
                        <li>Dev frameworks, version control and CLIs.</li>
                        <li>Strong Agile, Scrum, and Sprint practices.</li>
                        <li>Gather insights with UserTesting and Hotjar.</li>
                        <li>Remote techniques for research in Miro.</li>
                    </ul>
                </div>
            </div>
        </SectionContainer>
        <SectionContainer>
            <div class="flex flex-row my-4 items-center text-neutral-500">
                <h2 class="font-medium text-h4 mb-0 leading-8 tracking-tighter">
                    Download CV
                </h2>
            </div>
            <div class="flex flex-col gap-1">
                <a
                    href="/pdf/PatrickBowerCV.pdf"
                    target="_blank"
                    rel="noopener noreferrer"
                    class="w-full card-clip p-8 no-underline sm:flex-row sm:gap-8 bg-neutral-50 rounded-[40px] transition-all duration-300 hover:-top-0.5 relative flex flex-col gap-1"
                >
                    <div class="flex gap-8">
                        <div class="w-full">
                            <p class="text-body mb-2 text-neutral-900">
                                PDF File
                            </p>
                            <p class="text-neutral-500">
                                View my CV to discover the range of successful
                                design projects I've led and the diverse
                                companies I've helped to innovate.
                            </p>
                        </div>
                        <div class="p-4 bg-white rounded-3xl flex items-center">
                            <Icon
                                name="ph:download-simple"
                                class="w-12 h-fit inline text-neutral-500"
                            />
                        </div>
                    </div>
                </a>
            </div>
        </SectionContainer>
        <SectionContainer>
            <div class="flex flex-row my-4 items-center text-neutral-500">
                <h2 class="font-medium text-h4 mb-0 leading-8 tracking-tighter">
                    Clients include
                </h2>
            </div>
            <div class="flex flex-wrap gap-4 flex-grow">
                <Image
                    src="/icons/dazn-icon.png"
                    alt="Alternative text for photo"
                    class="bg-neutral-50 rounded-3xl"
                    width={192}
                    height={192}
                />

                <Image
                    src="/icons/vodafone-icon.png"
                    alt="Alternative text for photo"
                    class="bg-neutral-50 rounded-3xl"
                    width={192}
                    height={192}
                />
                <Image
                    src="/icons/rac-icon.png"
                    alt="Alternative text for photo"
                    class="bg-neutral-50 rounded-3xl"
                    width={192}
                    height={192}
                />
                <Image
                    src="/icons/bbc-icon.png"
                    alt="Alternative text for photo"
                    class="bg-neutral-50 rounded-3xl"
                    width={192}
                    height={192}
                />

                <Image
                    src="/icons/bp-icon.png"
                    alt="Alternative text for photo"
                    class="bg-neutral-50 rounded-3xl"
                    width={192}
                    height={192}
                />
                <Image
                    src="/icons/ual-icon.png"
                    alt="Alternative text for photo"
                    class="bg-neutral-50 rounded-3xl"
                    width={192}
                    height={192}
                />
                <Image
                    src="/icons/halifax-icon.png"
                    alt="Alternative text for photo"
                    class="bg-neutral-50 rounded-3xl"
                    width={192}
                    height={192}
                />
                <Image
                    src="/icons/gsk-icon.png"
                    alt="Alternative text for photo"
                    class="bg-neutral-50 rounded-3xl"
                    width={192}
                    height={192}
                />

                <Image
                    src="/icons/hsbc-icon.png"
                    alt="Alternative text for photo"
                    class="bg-neutral-50 rounded-3xl"
                    width={192}
                    height={192}
                /><Image
                    src="/icons/bupa-icon.png"
                    alt="Alternative text for photo"
                    class="bg-neutral-50 rounded-3xl"
                    width={192}
                    height={192}
                />
            </div>
        </SectionContainer>
    </div>
</Layout>
