---
import Layout from "@/layouts/Layout.astro";
import SectionContainer from "@/components/SectionContainer.astro";
import { Image } from "@astrojs/image/components";
import projectData from "@/data/projectData.json";
import CardGroup from "@/components/card/CardGroup.astro";
import Card from "@/components/card/Card.astro";
import CardBody from "@/components/card/CardBody.astro";
import CardImage from "@/components/card/CardImage.astro";
import CardHeader from "@/components/card/CardHeader.astro";
import FormattedDate from "../../src/components/FormattedDate.astro";
import { getCollection } from "astro:content";
import { Icon } from "astro-icon";
import getSortedTags from "@/utils/getSortedTags";

const posts = await getCollection("project");

const tags = getSortedTags(posts).slice(0, 6);
const sortedPosts = posts
    .filter((post) => post.data.featured == true)
    .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
    .slice(0, 5);
---

<Layout
    title="Patrick Bower"
    description="Crafting exceptional digital experiences as a practitioner and leader of design within product teams with extensive expertise in UX, UI, and prototyping."
>
    <div
        class="main-wrapper wrap-sm grid gap-16 px-8 md:gap-24 lg:gap-32 mx-auto"
    >
        <SectionContainer class="hero--container flex flex-col gap-8 mt-32">
            <Image
                src="/images/pb-profile.png"
                alt="Patrick Bower logo"
                width={160}
                height={160}
                aspectRatio={1 / 1}
                format={"png"}
                class="rounded-full h-32 w-32 bg-neutral-100 object-cover"
            />
            <div class="content-container">
                <div class="page-title--content max-w-[54rem] mb-8 lg:mb-4">
                    <h1
                        class="text-4xl lg:text-3xl font-medium leading-8 lg:leading-10 tracking-tight lg:tracking-tighter mb-0"
                    >
                        Patrick Bower 🚀 A product designer who codes
                    </h1>
                </div>
                <div
                    class="content text-3xl md:text-3xl font-medium leading-8 lg:leading-10 tracking-tight lg:tracking-tighter text-neutral-500"
                >
                    Crafting exceptional digital experiences as a practitioner
                    and leader of design within product teams with extensive
                    expertise in UX, UI, and prototyping.
                </div>
            </div>
        </SectionContainer>
        <!-- Header/Hero Section -->
        <!--  Projects Container -->
        <SectionContainer class="blogs--container">
            <div class="flex flex-row my-4 items-center text-neutral-500">
                <h2 class="font-medium text-h4 mb-0 leading-8 tracking-tighter">
                    Projects
                </h2>
                <a
                    href="/project"
                    class="font-medium flex no-underline ml-auto"
                >
                    View all projects
                    <Icon name="ph:arrow-right-light" class="w-6 h-6 ml-4" />
                </a>
            </div>

            <CardGroup
                class="grid scroll-m-24 gap-5 grid-cols-1 md:grid-cols-2 w-full"
            >
                {
                    sortedPosts.map((post) => (
                        <Card
                            key={post.id}
                            className="col-span-1"
                            link={`/project/${post.slug}`}
                            type="image"
                            bgImage={post.data.imageBg}
                        >
                            <CardBody>
                                <CardImage
                                    src={post.data.logo}
                                    alt="Alternative text for photo"
                                    imageClass="absolute bottom-0 left-0 m-6 rounded-3xl"
                                    width={100}
                                    height={100}
                                />
                                <div class="card-content absolute top-8 left-6 right-6">
                                    <CardHeader class="">
                                        {post.data.title}
                                    </CardHeader>
                                    <div class="content break-words  text-3xl font-medium leading-10 tracking-tight lg:tracking-tighter text-neutral-500 ">
                                        <p>{post.data.description}</p>
                                    </div>
                                </div>
                            </CardBody>
                        </Card>
                    ))
                }
            </CardGroup>
        </SectionContainer>
        <!-- Blog Container -->
        <!-- <SectionContainer class="tags--container">
            <div class="flex flex-row my-4 items-center text-neutral-500">
                <h2
                    class="font-medium text-h4 text-neutral-500 leading-8 tracking-tighter mb-0"
                >
                    Top Tags
                </h2>

                <a href="/tags" class="font-medium flex no-underline ml-auto">
                    View all tags
                    <Icon name="ph:arrow-right-light" class="w-6 h-6 ml-4" />
                </a>
            </div>

            <ul class="list-none space-y-5">
                {
                    tags.map((tag) => (
                        <li class={`inline-block my-3 mx-1 underline-offset-8`}>
                            <a
                                href={`/tags/${tag.toLowerCase()}`}
                                class={`text-lg pr-2 flex flex-wrap items-center relative underline hover:-top-0.5 hover:text-skin-accent focus-visible:p-1`}
                            >
                                <Icon name="mdi:hashtag" class="w-6 h-6" />
                                &nbsp;<span>{tag.toLowerCase()}</span>
                            </a>
                        </li>
                    ))
                }
            </ul>
        </SectionContainer> -->
        <SectionContainer>
            <div class="flex flex-row my-4 items-center text-neutral-500">
                <h2 class="font-medium text-h4 mb-0 leading-8 tracking-tighter">
                    Experience & Skills
                </h2>
            </div>
            <div
                class="text-neutral-500 grid grid-cols-1 md:grid-cols-2 gap-6 marker:text-neutral-200"
            >
                <div>
                    <h3 class="text-body mb-2 text-neutral-900">Design & UX</h3>
                    <ul class="list-disc list-outside space-y-1 pl-4">
                        <li>10+ years system-driven UI design</li>
                        <li>Create and maintain design systems</li>
                        <li>Lead thorough user research</li>
                        <li>Strategic wireframing and IA</li>
                        <li>Know design technical limits</li>
                        <li>Advanced prototyping in Figma</li>
                        <li>Conduct effective user testing</li>
                    </ul>
                </div>

                <div>
                    <h3 class="text-body mb-2 text-neutral-900">
                        Coding & Prototyping
                    </h3>
                    <ul class="list-disc list-outside space-y-1 pl-4">
                        <li>5+ years front-end development</li>
                        <li>Thorough JavaScript and React knowledge</li>
                        <li>Proficient with web tech stacks</li>
                        <li>Solid coding best practices</li>
                        <li>Deep understanding of tech functions</li>
                        <li>Rapid and robust code prototyping</li>
                        <li>Understand technical decision making</li>
                    </ul>
                </div>

                <div>
                    <h3 class="text-body mb-2 text-neutral-900">
                        Leadership & Soft Skills
                    </h3>
                    <ul class="list-disc list-outside space-y-1 pl-4">
                        <li>Deliver presentations to stakeholders</li>
                        <li>Facilitate engaging workshops</li>
                        <li>Take initiative for opportunities</li>
                        <li>Bridge design and tech discussions</li>
                        <li>Collaborate with cross-functional teams</li>
                        <li>Lead design from concept to completion</li>
                        <li>Mentor and manage team members</li>
                    </ul>
                </div>

                <div>
                    <h3 class="text-body mb-2 text-neutral-900">
                        Tools & Technologies
                    </h3>
                    <ul class="list-disc list-outside space-y-1 pl-4">
                        <li>Advanced skills with Figma and Adobe</li>
                        <li>Expertise in front-end with VS Code</li>
                        <li>Dev frameworks, version control and CLI's</li>
                        <li>Strong Agile, Scrum, and Sprint practices</li>
                        <li>Insights with UserTesting and Hotjar</li>
                        <li>Effective use of Miro for research</li>
                        <li>Maximize productivity with AI tools</li>
                    </ul>
                </div>
            </div>
        </SectionContainer>
        <SectionContainer>
            <div class="flex flex-row my-4 items-center text-neutral-500">
                <h2 class="font-medium text-h4 mb-0 leading-8 tracking-tighter">
                    Download CV
                </h2>
            </div>
            <div class="flex flex-col gap-1">
                <a
                    href="/pdf/PatrickBowerCV.pdf"
                    target="_blank"
                    rel="noopener noreferrer"
                    class="w-full card-clip p-8 no-underline sm:flex-row sm:gap-8 bg-neutral-50 rounded-[40px] transition-all duration-300 hover:-top-0.5 relative flex flex-col gap-1"
                >
                    <div class="flex gap-8">
                        <div class="w-full">
                            <p
                                class="text-neutral-900 line-clamp-1 md:inline-flex items-center font-medium"
                            >
                                PDF File
                            </p>
                            <p class="text-neutral-500 line-clamp-2">
                                Discover the projects I've led, the clients I've
                                collaborated with, and the expertise I've gained
                                as a product designer who codes.
                            </p>
                        </div>
                        <div class="p-4 bg-white rounded-3xl">
                            <Icon
                                name="ph:download-simple"
                                class="w-12 h-10 inline text-neutral-500"
                            />
                        </div>
                    </div>
                </a>
            </div>
        </SectionContainer>
        <SectionContainer>
            <div class="flex flex-row my-4 items-center text-neutral-500">
                <h2 class="font-medium text-h4 mb-0 leading-8 tracking-tighter">
                    Clients include
                </h2>
            </div>
            <div class="flex flex-wrap gap-4 flex-grow">
                <Image
                    src="/icons/dazn-icon.png"
                    alt="Alternative text for photo"
                    class="bg-neutral-50 rounded-3xl"
                    width={192}
                    height={192}
                />

                <Image
                    src="/icons/vodafone-icon.png"
                    alt="Alternative text for photo"
                    class="bg-neutral-50 rounded-3xl"
                    width={192}
                    height={192}
                />
                <Image
                    src="/icons/rac-icon.png"
                    alt="Alternative text for photo"
                    class="bg-neutral-50 rounded-3xl"
                    width={192}
                    height={192}
                />
                <Image
                    src="/icons/bbc-icon.png"
                    alt="Alternative text for photo"
                    class="bg-neutral-50 rounded-3xl"
                    width={192}
                    height={192}
                />

                <Image
                    src="/icons/bp-icon.png"
                    alt="Alternative text for photo"
                    class="bg-neutral-50 rounded-3xl"
                    width={192}
                    height={192}
                />
                <Image
                    src="/icons/ual-icon.png"
                    alt="Alternative text for photo"
                    class="bg-neutral-50 rounded-3xl"
                    width={192}
                    height={192}
                />
                <Image
                    src="/icons/halifax-icon.png"
                    alt="Alternative text for photo"
                    class="bg-neutral-50 rounded-3xl"
                    width={192}
                    height={192}
                />
                <Image
                    src="/icons/gsk-icon.png"
                    alt="Alternative text for photo"
                    class="bg-neutral-50 rounded-3xl"
                    width={192}
                    height={192}
                />

                <Image
                    src="/icons/hsbc-icon.png"
                    alt="Alternative text for photo"
                    class="bg-neutral-50 rounded-3xl"
                    width={192}
                    height={192}
                /><Image
                    src="/icons/bupa-icon.png"
                    alt="Alternative text for photo"
                    class="bg-neutral-50 rounded-3xl"
                    width={192}
                    height={192}
                />
            </div>
        </SectionContainer>
    </div>
</Layout>
