---
// Import the global.css file here so that it is included on
// all pages through the use of the <SEO /> component.
import "../styles/globals.scss";
import SectionContainer from "@/components/SectionContainer.astro";
import SEO from "@/components/seo/SEO.astro";
import { Icon } from "astro-icon";
import { SOCIALS } from "@config";
import { Image } from "@astrojs/image/components";

const currentYear = new Date().getFullYear();

const {
    class: className,
    title,
    description,
    keywords,
    url,
    twitterhandle,
    image
} = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <SEO
            title={title}
            description={description}
            keywords={keywords}
            url={url}
            image={image}
        />
    </head>
    <body>
        <main class={className}>
            <slot />
        </main>

        <SectionContainer class="mt-32 pt-32">
            <footer class="pb-40 bg-neutral-50">
                <div class="wrap-sm mx-auto px-8 grid gap-8 relative">
                    <Image
                        src="/images/pb-profile.png"
                        alt="Patrick Bower logo"
                        width={160}
                        height={160}
                        aspectRatio={1 / 1}
                        format={"png"}
                        class="rounded-full h-32 w-32 bg-neutral-100 object-cover -mt-16 mb-8"
                    />
                    <h2
                        class="font-medium text-3xl md:text-5xl lg:text-6xl tracking-tight lg:tracking-tighter"
                    >
                        Hire me and let's achieve{" "}
                        <span class="text-neutral-500 inline font-bold">
                            great things
                        </span>{" "}
                        together
                    </h2>
                    <p
                        class="text-neutral-500 font-medium text-3xl md:text-5xl lg:text-4xl leading-10 tracking-tight lg:tracking-tighter"
                    >
                        If you would like to discuss an opportunity, please get
                        in touch
                    </p>
                    <div class="footer-credits text-neutral-500">
                        <div
                            class="footer-socials font-medium flex gap-6 md:gap-10 max-w-md text-xl md:text-3xl lg:text-2xl leading-10 tracking-tighter"
                        >
                            {
                                SOCIALS.filter((social) => social.active).map(
                                    (social) => (
                                        <a
                                            href={social.href}
                                            class="relative hover:underline hover:-top-0.5 hover:text-skin-accent hover:text-black focus-visible:p-1 flex items-center"
                                            target="_blank"
                                            title={social.title}
                                        >
                                            <Icon
                                                name={social.icon}
                                                class="w-16 h-16 inline"
                                            />
                                        </a>
                                    )
                                )
                            }
                        </div>
                    </div>
                </div>
            </footer>
        </SectionContainer>
    </body>
</html>
